body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;

}

.key {
    border: 1px solid black;
}

.white-key {
    width: 40px;
    height: 140px;
}